<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Young Professionals</title>
    <!-- <link rel="stylesheet" href="/public/style.css"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 font-weight-bold ">
        <div class="d-inline ">
        <button onclick="location.reload()" style="height:35px;width: 40px; margin-left: 4px;" class="btn btn-primary d-inline mb-2"><i class="fa-solid fa-left-long"></i></button>
        <h2 class="d-inline-block">Add Young Professionals</h2>
    </div>
        <hr class="mt-10 !important;background-color: rgb(227, 225, 213);">
        <form method="POST" class="mt-10" enctype="multipart/form-data" onsubmit="return validateForm(event)">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="wing">Wing*</label>
                        <select type="drop-down" class="form-control" id="wing" name="wing" required >
                            <option value="0">--Select Wing--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="division">Division*</label>
                        <select type="drop-down" class="form-control" id="division" name="division" required>
                            <option value="0">--Select Division--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
            </div>

            <h3>Status</h3>
            <hr style="margin-top:0px !important;background-color:gold;">
            <div class="form-group d-grid row justify-content-between ">
                <div class="form-check flex-md-row">
                    <p class="row align-items-start">Post Status</p>
                    <input class="form-check-input" type="radio" name="status" id="vacant" value="Vacant" required>
                    <label class="form-check-label " for="vacant">Vacant</label>
                </div>
                <div class="form-group row  padding-right:20px" >
                    <label for="vacancyDate">Date of Arise in Vacancy</label>
                    <input type="date" class="form-control mx-auto bg-light" id="vacancyDate" name="vacancyDate" required  >
                </div>
                <div class="form-group row justify-content-enter " style="padding-right: 120px;">
                    <label for="advertisedDate">Date of Vacancy Advertised</label>
                    <input type="date" class="form-control mx-auto bg-light " id="advertisedDate" name="advertisedDate" required>
                </div>
            </div> 
            <div class="form-group d-grid row ">
                <div class="form-check justify-content-enter">
                    <input class="form-check-input" type="radio" name="status" id="filled" value="Filled" required >
                    <label class="form-check-label " for="filled">Filled</label>
                </div>
                <div class="form-group row justify-content-enter " style="padding-left: 172px;" >
                <div class="form-group row justify-content-enter ">
                <label for="appointmentDate">Date of Appointment</label>
                <input type="date" class="form-control bg-light " id="appointmentDate" name="appointmentDate"   style="padding-left: 35px;">
                </div>
            </div>
            <div class="form-group row justify-content-enter d-block" style="padding-left: 170px;">
                <label for="candidateDetails" >Candidate Details</label>
                <!-- <textarea class="form-control" id="candidateDetails" name="candidateDetails" rows="3" required></textarea> -->
                <!-- <button style="height:40px;width: 55px; margin-left: 35px;" id="candidateDetails" class="btn btn-success d-block "><i class="fa-solid fa-file-import d-inline-block"></i></button> -->
                <input type="file" id="candidateDetails" name="candidateDetails" style="display: none; ">
                <label for="candidateDetails" style="height:40px;width: 55px; margin-left: 35px;" class="btn btn-success d-block">
                    <i class="fa-solid fa-file-import d-inline-block"></i>
                </label>
            </div>

        </div>
        <div p-4>
            <button type="submit" class="btn btn-success p-2 px-4">Submit</button>
            <button type="reset" class="btn btn-danger p-2 px-4">Cancel</button>
        </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function validateForm(event) {
            event.preventDefault();

            const status = document.querySelector('input[name="status"]:checked').value;
            const dateOfArise = new Date(document.getElementById('vacancyDate').value);
            const dateOfAdvertise = new Date(document.getElementById('advertisedDate').value);
            const dateOfAppointment = new Date(document.getElementById('appointmentDate').value);

            if (dateOfAdvertise < dateOfArise) {
                alert('Date of Advertised cannot be earlier than date of Arise');
                return false;
            }
            if (dateOfAppointment < dateOfArise) {
                alert('Date of Appointment cannot be earlier than date of Arise');
                return false;
            }

            // Check if Wing and Division are selected
            const wing = document.getElementById('wing');
            const division = document.getElementById('division');
            // const status = document.querySelector('input[name="status"]:checked');

            if (wing.value === "0") {
                alert('Please select a Wing.');
                return false;
            }
            if (division.value === "0") {
                alert('Please select a Division.');
                return false;
            }
           
            const formData = await addData(dateOfArise, dateOfAdvertise, dateOfAppointment,status);
            return formData ? true : false;
        }

        async function addData(dateOfArise, dateOfAdvertise, dateOfAppointment,status) {
            // console.log(dateOfArise, dateOfAdvertise, dateOfAppointment);
            // console.log('Sending Status:', status.value); 
            const formData = new FormData();
            formData.append('vacancyDate', dateOfArise.toISOString());
            if (status === 'Vacant') formData.append('advertiseDate', dateOfAdvertise.toISOString());
            if (status === 'Filled') formData.append('appointmentDate', dateOfAppointment.toISOString());
            
            formData.append('wing',document.getElementById('wing').value);
            formData.append('division',document.getElementById('division').value);
            formData.append('postStatus', status);

            const fileInput = document.getElementById('candidateDetails');
            if (fileInput && fileInput.files.length > 0 && !fileInput.disabled){
                formData.append('candidateDetails', fileInput.files[0]);
                console.log('File attached:', fileInput.files[0].name);
            } else {
                console.log('No file attached.');
            }

            try {
                const response = await axios.post("http://localhost:3000/upload", formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                });
                console.log(response);
                if(response.status === 200)
                {
                    alert("Data uploaded successfully");
                    return true;
                }else{
                    alert("Data upload Failed");
                    return false
                }
                
            } catch (error) {
                console.error('Error sending data:', error);
                return false;
            }
        }
         // Enable/Disable form fields based on the selected status
         document.querySelectorAll('input[name="status"]').forEach((input) => {
            // console.log('Selected Status:', status.value);
            input.addEventListener('change', function() {
                const isVacant = document.getElementById('vacant').checked;

                document.getElementById('vacancyDate').disabled = !isVacant;
                document.getElementById('advertisedDate').disabled = !isVacant;
                document.getElementById('appointmentDate').disabled = isVacant;
                document.getElementById('candidateDetails').disabled = isVacant;
            });
        });
    </script>
</body>
</html>
